/* Donatello */
.Donatello-bg {
    background-image: url('pics/Donatello-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 125px;
    overflow-x: hidden;
    max-width: 160%;
} 

.Donatello-text {
    font-family: 'Iceland';
    color: rgb(255, 255, 255);
    font-weight: 550;
    font-size: 130%;
    text-shadow: 2px 1px 0px rgba(5, 50, 11, 0.873);
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.Donatello-title {
    font-family: 'Bungee Inline';
    font-size: 3rem;
    color: rgb(38, 6, 52); 
    text-shadow: 3px 3px 0px rgba(132, 40, 171, 0.873), -1px -1px 0px rgba(183, 79, 206, 0.8); 
}

.Donatello-subheading {
    color: rgb(46, 8, 63); 
    font-family: 'Iceland'; 
    font-weight: 700;
    font-size: 230%;
    text-shadow: 2px 2px 0px rgba(139, 68, 187, 0.873), -1px -1px 0px rgba(112, 24, 146, 0.8); 
    text-align: center;
    text-decoration: underline;
}

.Donatello-cards .card .pic {
    border-bottom: 5px solid rgb(46, 7, 60); 
    width: 100%; 
    height: 270px;
}

.Donatello-style { 
    background-color: rgba(100, 138, 97, 0.5); 
    border: 5px solid rgb(46, 7, 60);
}

.Donatello-accordion {
    position: relative;
    z-index: 2; 
}

.Donatello-accordion .accordion-collapse {
    position: absolute; 
    width: 100%;
}

.Donatello-accordion .accordion-button {
    background-color: rgb(74, 14, 98);
    color: rgb(189, 37, 166);
    text-shadow: 2px 2px 0px rgba(36, 8, 47, 0.8) ;
    font-family: 'Iceland';
    font-size: 80%;
}

.Donatello-accordion .accordion-body {
    background-color:  rgb(100, 13, 87);
    position: relative;
    z-index: 20;
}

/* Leonardo */
.Leonardo-bg {
    background-image: url('pics/Leonardo-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 125px;
}

.Leonardo-text {
    color: rgb(47, 0, 255); 
    /* Font family goes here */
    font-size: 3rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8), -1px -1px 0px rgba(0, 0, 0, 0.8); 
}

.Leonardo-title {
    font-family: 'Bungee Inline';
    font-size: 3rem;
    color: rgb(38, 6, 52); 
    text-shadow: 3px 3px 0px rgba(47, 0, 255, 0.873), -1px -1px 0px rgba(56, 22, 211, 0.8); 
}

.Leonardo-title-bar {
    background-color: rgba(100, 138, 97, 0.5); 
    border: 5px solid rgb(47, 0, 255)
}

/* Michelangelo */
.Michelangelo-bg {
    background-image: url('pics/Michelangelo-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 125px;
}

.Michelangelo-text {
    color: rgb(255, 124, 2); 
    font-family: 'lacquer';
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8), -1px -1px 0px rgba(0, 0, 0, 0.8); 
}

.Michelangelo-title {
    font-family: 'lacquer';
    font-size: 3rem;
    color: rgb(255, 124, 2); 
    text-shadow: 3px 3px 0px rgba(255, 124, 2, 0.719), -1px -1px 0px rgba(201, 108, 22, 0.8); 
}

.Michelangelo-title-bar {
    background-color: rgba(100, 138, 97, 0.5); 
    border: 5px solid rgb(255, 124, 2)
}

.Michelangelo-bodytext {
    color: rgb(255, 124, 2); 
    font-family: 'lacquer';
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8), -1px -1px 0px rgba(0, 0, 0, 0.8); 
}

/* Raphael */
.Raphael-bg {
    background-image: url('pics/Raphael-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 125px;
}

.Raphael-style{
    background-color: rgba(100, 138, 97, 0.5);
    border: 4px solid rgb(144, 12, 12);
}

.Raphael-text{
    color: #d8e2d6;
    text-shadow: 1px 1px 0px black; 
    text-align: left; 
    font-weight: 600;  
    padding-left: 10px; 
    padding-right: 10px;
}

.Raphael-subheading{
    color: rgb(205, 22, 22);
    text-shadow: 1.5px 1.5px 0px black; 
    text-align: center; 
    font-family: 'Metal Mania'; 
    font-weight: 300;
}

.Raphael-quotes{
    color: #d8e2d6;
    text-shadow: 1px 1px 0px black;
     font-weight: 600; 
     text-align: left; 
     padding-left: 10px; 
     padding-right: 10px;
}

.Raphael-title {
    font-family: 'Metal Mania';
    font-size: 3rem;
    color: rgb(205,22,22); 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.719), -1px -1px 0px rgba(0, 0, 0, 0.8);
}

.Raphael-title-bar {
    background-color: rgba(100, 138, 97, 0.5); 
    border: 5px solid rgb(159, 15, 15)
}

/* Homepage */
.Main-bg {
    background-image: url('pics/Homepage-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 155px;
}

.container-main p {
    font-family: 'Jura';
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 2px -1px 0.5px rgba(2, 30, 6, 0.692);
    text-align: center;
}

.container-main h4 {
    font-family: 'chewy';
    font-weight: 300px;
    font-size: 35px;
    color: rgb(11, 46, 6);
    text-shadow: -1px -1px 0px rgba(70, 167, 35, 0.8), 2px -1px 0.5px rgba(0, 0, 0, 0.8);
    text-align: center;
    text-decoration: underline;
}

.container-main li {
    font-family: 'Jura';
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 2px -1px 0.5px rgba(2, 30, 6, 0.692);
}

.blockquote-footer {
    color: black; 
    font-weight: 1000; 
    font-size: medium; 
    font-family: Jura;
}

#Comic h4 {

    font-family: 'chewy';
    font-weight: 300px;
    font-size: 35px;
    color: rgb(11, 46, 6);
    text-shadow: -1px -1px 0px rgba(70, 167, 35, 0.8), 2px -1px 0.5px rgba(0, 0, 0, 0.8);
    text-align: center;
    text-decoration: underline;
}

#Comic p {
    font-family: 'Jura';
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 2px -1px 0.5px rgba(2, 30, 6, 0.692);
    text-align: center;
}

#Comic ul {
    font-family: 'Jura';
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 2px -1px 0.5px rgba(2, 30, 6, 0.692);
    list-style-position: inside;
}

#Comic li {
    text-align: left;
    padding-left: 320px;
}


#Doni {
    border: 1px solid rgb(46, 7, 60); 
    background-color: rgba(46, 7, 60); 
}

#Leo {
    border: 1px solid rgb(35, 48, 190);
    background-color: rgba(35, 48, 190); 
}

#Mikey {
    border: 1px solid rgb(209, 80, 20); 
    background-color: rgba(209, 80, 20); 
}

#Raph {
    border: 1px solid rgb(144, 12, 12); 
    background-color: rgba(144, 12, 12); 
}

/* Multipage */
.Navbar-text {
    font-family: 'Bungee Spice'; 
    font-size: 2rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8), -1px -1px 0px rgba(0, 0, 0, 0.8); 
    text-align: center;
    font-weight: 300;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #e66000 !important;
}