/* Donatello */
.Donatello-bg {
    background-image: url('pics/Donatello-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

.Donatello-text{
    color: rgb(72, 28, 122); 
    font-family: 'Bungee Inline';
    font-size: 3rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8), -1px -1px 0px rgba(0, 0, 0, 0.8); 
}

/* Leonardo */
.Leonardo-bg {
    background-image: url('pics/Leonardo-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Leonardo-text{
    color: rgb(47, 0, 255); 
    /* Font family goes here */
    font-size: 3rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8), -1px -1px 0px rgba(0, 0, 0, 0.8); 
}

/* Michelangelo */
.Michelangelo-bg {
    background-image: url('pics/Michelangelo-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Michelangelo-text{
    color: rgb(255, 124, 2); 
    font-family: 'lacquer';
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8), -1px -1px 0px rgba(0, 0, 0, 0.8); 
}

/* Raphael */
.Raphael-bg {
    background-image: url('pics/Raphael-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Raphael-text{
    color: rgb(159, 15, 15); 
    font-family: 'Metal Mania'; 
    font-size: 3rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8), -1px -1px 0px rgba(0, 0, 0, 0.8); 
}


/* Homepage */
.Main-bg {
    background-color: #68a66a;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Navbar-text {
    font-family: 'Bungee Spice'; 
    font-size: 2.5rem;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8), -1px -1px 0px rgba(0, 0, 0, 0.8); 
    text-align: center;
}